extension/node_modules
extension/stackoverflowextension/python_script/bin
extension/stackoverflowextension/python_script/include
extension/stackoverflowextension/python_script/lib
extension/stackoverflowextension/python_script/lib64
extension/stackoverflowextension/python_script/share
extension/stackoverflowextension/python_script/pyvenv.cfg
extension/stackoverflowextension/python_script/__pycache__
models/*